---
import SoonLayout from "$layout/SoonLayout.astro"
---



<SoonLayout>
        <h2 class="text-default-primary font-semibold text-2xl">
            Çok yakında hizmetteyiz...
        </h2>

        <span>Beklemede kalın</span>
</SoonLayout>